.layout__header {
    width: 100%;
    background: transparent;
    z-index: 1;
}
.layout__header--search-post {
    min-width: 200px;
}
.layout__header--theme-changer {
    margin-left: 24px;
    .layout__header--theme-changer-switch {
        margin-left: 10px;
    }
}